/* .App{
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
} */


.navbar{
  padding: 1rem;
  background: linear-gradient(to bottom, indianred, #fff9e3);
}
.blogsDisplay {
  gap: 2.5rem;
  justify-content: center;
  margin-top: 2rem !important;
}

.container {
  margin-top: 5rem;
}

.blog {
  margin-bottom: 2rem;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 2px 2px 4px rgb(147, 0, 0);
}

.tip-blog{
  margin-bottom: 2rem;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 2px 2px 4px #00880e;
}

.story-blog{
  margin-bottom: 2rem;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 2px 2px 4px #83008c;
}

.blogImg {
  width: 100%;
  height: 11rem;
  overflow: hidden;
  background-color: aquamarine;
}

.blogContent {
  background-color: #ffcdcd;
  text-align: center;
  height: 4rem;
  padding: 10px;
}

.tipContent{
  background-color: #cdffd2;
  text-align: center;
  height: 4rem;
  padding: 10px;
}

.storyContent{
  background-color: #fccdff;
  text-align: center;
  height: 4rem;
  padding: 10px;
}


.btn-outline-success {
  width: 20% !important;
  align-self: center;
  border-bottom: outset !important;
  border-right: outset !important;
  border-color: indianred !important;
}

.btn{
  width: 10%;
  --bs-btn-border-color: rgb(142, 0, 0) !important;
  --bs-btn-color: rgb(142, 0, 0)  !important;
  --bs-btn-hover-bg: rgb(142, 0, 0)  !important;
  --bs-btn-hover-color: #fff !important;
}

.blog-image {
  width: 100%;
}